<body bgcolor="#778899">
<h1>Welcome!</h1>
<h3>Task 3/4</h3>


<form id='login' ngNoForm>
		Username: <input type='text' value='' placeholder='Username' id='username' [(ngModel)]='loginUser'><br><br>
		Password: <input type='password' value='' id='password' [(ngModel)]='loginPass'><br><br>
		<button (click)="login()" value='Login' id='submitButton'>Login!</button>
		<!-- <input type='submit' value='Login' id='submitButton'>  -->
		<p id="error"></p>
</form>
	<!-- event.prevent(default)  -->
</body>
